MYSQL_DATABASE=kbeauty
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_ROOT_PASSWORD=your_mysql_root_password

DB_URL=jdbc:mysql://localhost:3307/kbeauty?serverTimezone=Asia/Seoul&characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=your_mysql_user
DB_PASSWORD=your_mysql_password

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
