MYSQL_DATABASE=kbeauty
MYSQL_USER=kbeauty
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

DB_URL=jdbc:mysql://mysql:3306/kbeauty?serverTimezone=Asia/Seoul&characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=kbeauty
DB_PASSWORD=

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
